<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Positive Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <h1>Only GoodVibes and Positive Messages here</h1>

    {% if current_user.is_authenticated %}
        <form method="post" action="{{ url_for('post_message') }}">
            <label for="message">Message:</label>
            <input type="text" name="message" required>
            <button type="submit">Post</button>
        </form>
    {% else %}
        <p>Login to post messages and like posts.</p>
    {% endif %}

    {% if warning_message %}
    <div style="color: red; margin-top: 10px;">{{ warning_message }}</div>
    {% endif %}

    <h2>Messages</h2>
    <ul>
        {% set grouped_messages = {} %}
        {% for message in messages %}
            {% set username = message.username %}
            {% if grouped_messages.get(username) %}
                {% set _ = grouped_messages[username].append(message) %}
            {% else %}
                {% set _ = grouped_messages.update({username: [message]}) %}
            {% endif %}
        {% endfor %}

        {% for username, user_messages in grouped_messages.items() %}
            <li class="grouped-messages">
                <strong>{{ username }} shared:</strong>
                {% for message in user_messages %}
                    <div class="grouped-message">
                        {{ message.message }}
                        {% if current_user.is_authenticated %}
                           
                        {% endif %}
                        
                    </div>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    {% if current_user.is_authenticated %}
        <p>Logged in as {{ current_user.username }} | <a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
        <p><a href="{{ url_for('login') }}">Login</a></p>
    {% endif %}

    <script>
    //    function likePost(messageKey) {
            // Send an AJAX request to the Flask server to update likes
      //      fetch(`/like/${messageKey}`)
        //        .then(response => response.json())
          //      .then(data => {
                    // Update the likes count in the UI
            //        var likesElement = document.getElementById('likes' + messageKey);
              //      likesElement.innerText = 'Likes: ' + data.likes;
                //})
                //.catch(error => console.error('Error:', error));
        //}
    </script>
</body>
</html>
